
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

em,
i {
  font-style: normal;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
}

.hide,
.none {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  zoom: 1;
}

