@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular-Book';
  src: url('./fonts/Circular-Book.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular-Book', sans-serif;
}

em,
i {
  font-style: normal;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

button {
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  cursor: pointer;
  line-height: 0.8;
} 

.hide,
.none {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  clear: both;
  display: block;
  content: ".";
  height: 0;
}
.clearfix {
  *zoom: 1;
}
